*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    font-size: 62.5%;
    --font-header:'Inconsolata', monospace;
    --font-main: 'Space Mono', monospace;
    --font-footer: 'Montserrat', sans-serif;
    --color-primary: #333333;
    --color-secondary: #4F4F4F;
    --color-footer: #BDBDBD;
}

.header{
    height: 10vh;
    
    display: flex;
    justify-content: flex-start;
}

.header__title{
    font-size: 2.4rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    padding: 20px 25px;
    font-family: var(--font-header);
    font-weight: 700;
    color: var(--color-primary);
}
.main__image{
    width: 100vw;
}

.main__section--title{
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 4.8rem;
    color: var(--color-primary);
}

.main__section--txt{
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--color-secondary);
}

.main__section--link{
    text-decoration: none;
    ;
    font-family: var(--font-main);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 23px 43px;
    background-color: var(--color-primary);
}
.footer__text{
    font-family: var(--font-footer);
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--color-footer);
}
