*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

:root{
    font-size: 62.5%;
    --font-header:'Inconsolata', monospace;
    --font-main: 'Space Mono', monospace;
    --font-footer: 'Montserrat', sans-serif;
    --color-primary: #333333;
    --color-secondary: #4F4F4F;
    --color-footer: #BDBDBD;
    
}
.body{
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content: flex-start;
    padding: 20px 25px;
}

.header__title{
    width: 133px;
    height: 25px;
    font-size: 2.4rem;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: -0.08em;
    font-family: var(--font-header);
    font-weight: 700;
    font-style: normal;
    color: var(--color-primary);
}

.main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.main__section-image{
    padding-top: 44px;
    display: flex;
    justify-content: center;
}

.main__image{
    width: 286.83px;
    height: 220.35px;
     
   
}

.main__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 60px 24px 24px;
}

.main__section--title{
    font-family: var(--font-main);
    font-weight: 700;
    font-style: normal;
    font-size: 4.8rem;
    color: var(--color-primary);
    text-align: left;
    line-height: 71px;
    letter-spacing: -0.035em;
}

.main__section--text{
    font-family: var(--font-main);
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: var(--color-secondary);
    text-align: left;
    line-height: 27px;
    letter-spacing: -0.035em;
    padding-top: 30px;
    padding-bottom: 66px;
}

.main__section--link{
    text-decoration: none;
    font-family: var(--font-main);
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
    padding: 23px 43px;
    background-color: var(--color-primary);
    color: white;
    width: 216px;
    height: 68px;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: -0.035em;
    margin-bottom: 114px;
}

.footer{
    height: 5vh;
    display: flex;
    justify-content: center;
}

.footer__text{
    font-family: var(--font-footer);
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    color: var(--color-footer);
    line-height: 17px;
    margin-bottom: 24px;
}

@media all and (min-width: 768px){
    .header{
        padding: 40px 77px;
    }
   .main{
    flex-direction: row;
    }
    .main__section-image{
        width: 50vw;
        padding-top: 160px;
    }
    .main__image{
        width: 539.22px;
        height: 414.25px;
    }
    .main__section{
        width: 50vw;
        padding-top: 160px;
        padding-left: 15px;
    }
    .main__section--title{
        width: 586px;
        font-size: 6.4rem;
        line-height: 95px;
    }
    .main__section--text{
        width: 381px;
        font-size: 2.4rem;
        line-height: 36px;
        padding-top: 36px;
        padding-bottom: 64px;
    }
    .main__section--link{
        margin-bottom: 308px;
    }


}